* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: white;
}

.itemContainer {
  color: black;
  border: 1px solid #39559e;
}


/*ButtonComponent CSS*/
.itemContainer {
  border-radius: 10px;
  background-color: #819ee5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10vh;
}

/*Home.js component */
.mainContainer {
  background: #fff;
  cursor: pointer;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 40px;
  gap: 50px;
}
@media screen and (max-width: 1000px) {
  .mainContainer {
    background: #fff;
    cursor: pointer;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    gap: 70px 20px;
    margin-top: 60px;
    padding: 30px;
  }
  .itemContainer {
    border-radius: 10px;
    background-color: #819ee5;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    height: 10vh;
  }
}