* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: white;
}

/*Home.js component */
.mainContainer {
  background: #fff;
  cursor: pointer;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 40px;
  gap: 50px;
}
@media screen and (max-width: 1000px) {
  .mainContainer {
    background: #fff;
    cursor: pointer;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    gap: 70px 20px;
    margin-top: 60px;
    padding: 30px;
  }
  .itemContainer {
    border-radius: 10px;
    background-color: #819ee5;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    height: 10vh;
  }
}
/* Single Instruments CSS */
.singleInstrumentContainer {
  background-color: #de0b0b;
  display: flex;
}

.SearchBarContainer {
  width: 20%;
  display: flex;
  align-items: center;
  min-width: 200px;
  padding-top: 20px;
  background-color: aqua;

}

.inputWrapper {
  background-color: white;
  width: 50%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height:  100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left:  10px;
}

input:focus {
  outline: none;
}

#searchIcon {
  color: royalblue;
}
/*Pagination.module.CSS */
.paginationContainer {
  border: 1px solid purple;
  display: flex;
  margin: auto;
}
.pagination {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  list-style: none;
  display: flex;
  position: absolute;
  margin-top: 300px;
}


.pageItem {
  text-decoration: none;
}

.pageItem a {
  color: rgb(21, 0, 255);
  float: left;
  padding: 8px 16px;
  border: 1px solid #ddd; 
  margin: 0 2px; 
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.tableContainer {
  display: flex;
  position: absolute;
  top: 150px;
  width: 50%;
  height: 400px;

  margin-left: 400px;
}