.projectContainer {
  width: 100%;
  height: 80vh;
  background-color: white;
}

.projectContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.text {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center; 
  text-align:justify;
}

.projectContainer h1 {
  font-size: 1.8rem;
  margin: 3%;
  color: #333;
}

.projectContainer p {
  font-size: 1.3rem;
  color: #666;
  max-width: 550px;
  letter-spacing: 0.3px
}

@media only screen and (min-width: 720px) and (max-width: 1023px)  {
  .projectContainer p {
    font-size: 1rem;
    color: #666;
    max-width: 460px;
    letter-spacing: 0.2px;
  }
  .projectContainer h1 {
    font-size: 1.3rem;
    margin: 3%;
    color: #333;
  }
}

@media only screen and (max-width: 720px) {
  .projectContainer  {
    height: 80vh;
  }

  .projectContainer h1 {
    font-size: 1.3rem;
    margin: 5%;
    color: #333;
  }

  .projectContainer p {
    font-size: 1.1rem;
    color: #666;
    max-width: 320px;
    letter-spacing: 0.2px
  }

  .text {
    text-align: justify;
    
  }
}




