.aboutCountainer {
  display: block;
  font-family: verdana;
  flex-direction: column;
  justify-content: center;
  align-items: cente;
  margin: 5px auto;
  padding: 20px;
  background-color: rgb(190, 236, 242);
  color: #20325e;
  width: 70%;
}

.aboutCountainer h1 {
  font-size: 32px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.aboutCountainer p {
  text-indent: 50px;
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  text-align: justify;
  line-height: 1.8;
}

.iconsContainer {
  width: 8%;
  margin: auto;
  display: flex;
  justify-content:center;
  padding: 5px;
}

.gitHubIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color:  #171515 ;
  padding: 5px;
}

.linkedinIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #0072b1;
}


@media screen and (max-width: 1000px) {
  .aboutCountainer p {
    text-indent:25px;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    text-align: justify;
    line-height: 1.4;
  }
}

