* {
  margin: 0;
  padding: 0;
}
.dasboardContainer {
  background-color: whitesmoke;
  cursor: pointer;
  width: 100%;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 80%;
}

.instrumentContainer,
.setContainer {
  background-color: aliceblue;
  border: 6px groove #819ee5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 30%;
  height: 80%;
}

.instrumentContainer img, .setContainer img {
  width: 100%;
}

.instrumentIcon,
.setIcon {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 40%;
}

.instrumentButton,
.setButton {
  display: flex;
  justify-content: center;

  padding: 20px;
  text-decoration: none;
  color: #39559e;
}

.instrumentButton:hover,
.setButton:hover {
  color: #819ee5;
}

.instrumentText, .setText {
  font-size: 1.1rem;
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .instrumentContainer,
  .setContainer {
    border: 3px solid #819ee5;
    height: 70%;
  }
}

@media only screen and (max-width: 720px) {
  .containerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 90%;
    height: 90%;
  }

  .instrumentContainer,
  .setContainer {
    border: 3px solid #819ee5;
    width: 66%;
    height: 60%;
  }

  .setContainer img, .instrumentContainer img {
    width: 90%;
  }

  .instrumentText h2, .setText h2{
    font-size: 1.1rem;
  }

  .instrumentButton,
  .setButton {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
  }
  .instrumentIcon,
  .setIcon {
    width: 50%;
  }
}




