
.homeContainer {
  margin-top: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px; 
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align:justify;
}

.homeContainer h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.homeContainer h2 {
  font-size: 1.3rem;
  color:  #666;
}

.homeContainer p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #666;
  max-width: 500px;
  margin: 0 auto;
  letter-spacing: 0.3px
}

.homeContainer img {
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
  }
  .content {
    align-items: center;
  }

  .textContent {
    text-align:justify;
    padding: 40px;
  }

  .homeContainer img {
    max-width: 150px; 
    margin-top: 10px;
  }
}




