.instrumentsListPageContainer {
  width: 100%;
  height: 95vh;
  background-color: aliceblue;
  /*background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;*/
}

.instrumentWrapper {
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}


.instrumentWrapper thead tr th {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  padding: 12px;
  vertical-align: top;
  text-align: left;
  background-color: #819ee5;
  color: white;
  border: 1px solid #819ee5; 
}

.instrumentWrapper td {
  padding-right: 10px; 
  padding-left: 10px;
  font-size: 1.1rem;
  border: 1px solid #dddddd; 
}

.instrumentWrapper tr:hover td {
  background-color:#e6e8ea;
}


.instrumentWrapper table {
 width: 50%;
 height: 100%;
 margin-bottom: 2%;
 background-color: white;
 border: 1px solid rgb(191, 199, 207);
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 border-collapse: collapse;
 color: #39559e;
}


.addButton {
  display: flex;
  border: none;
  background-color: #39559e;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px #ccc;
}

.addButton:hover {
  background-color: #819ee5;
}

.imageStyle {
  width: 55px;
  height: 55px;
}


@media only screen and (max-width: 720px){
  .instrumentWrapper  { 
    display: flex;
    margin: auto;
    width: 100%;
  }
  .instrumentWrapper table {
    width: 95%;
    height: 100%;
    margin-bottom: 2%;
   }

  .instrumentWrapper th {
    font-size: 0.9rem;
  }
  
  .instrumentWrapper td {
    font-size: 0.7rem;
  }
  .imageStyle {
    width: 50px;
    height: 50px;
  }
}
