.setWrapper {
  height: 100vh; 
  background-color: aliceblue;
  border: 1px solid aliceblue;
}
.tableContainer {
  height: 70vh; 
  display: flex;
  flex-direction:column;
  justify-content: start;
  align-items: center;
}

.tableContainer  th {
  font-size: 1.1rem;
}

.header  {
  display: flex;
  padding: 35px;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: #39559e;
  text-decoration: underline;
}

.table {
  width: 50%;
  border-collapse: collapse;
}

.table, .cell {
  border: 1px solid #ccc;
}

.tableContainer input {
  background-color: transparent;
  color: #39559e;
  margin: 0 5px;
  border: 1px solid rgb(213, 213, 213);
  font-size: 1.1rem;
}

.tableContainer input:hover {
  color: rgb(171, 170, 170);
}

.deleteInstrumentBtn, .addInstrumentBtn {
  display: flex;
  border: none;
  background-color: #39559e;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px #ccc;
}

.saveButton {
  display: flex;
  border: none;
  background-color: #39559e;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px #ccc;
}

.saveButton:hover,.addInstrumentBtn:hover  {
  background-color: #87de55;
}

.editButton, .deleteButton, .addButton {
  display: flex;
  margin: 0.5rem;
  border: none;
  background-color: #39559e;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px #ccc;
}

.deleteButton:hover, .deleteInstrumentBtn:hover{
  background-color: #ef6060;
}

.editButton:hover {
  background-color: #819ee5;
}

.addButton:hover {
  background-color: #819ee5;
}

.instrumentsHeader {
  display: flex;
  margin: 20px;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #39559e;
}

.instrumentsTable {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.instrumentsTable th {
  background-color: #819ee5;
  color: white;
  text-align: left;
  padding: 10px;
}

.instrumentsTable th:first-child {
  border-radius: 5px 0 0 0;
}

.instrumentsTable th:last-child {
  border-radius: 0 5px 0 0;
}

.instrumentsTable td {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.instrumentsTable tr:nth-child(even) {
  background-color: #e0e0e0;
}

.instrumentsTable tr:hover {
  background-color: #ccc;
}


@media only screen and (max-width: 600px) {
  .table {
    width: 90%;
    border-collapse: collapse;
  }
  .header{
    font-size: 1.6rem;
  }
  .tableContainer  th {
    font-size: 0.8rem;
  }
}