.dropdown {
  display: block;
  width: 250px;
  margin: 50px;
}

.dropdown .dropdownButton {
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #39559e;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  font-size: 1.2rem;
}

.dropdownContent {
  left: 0;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #5774ba;
  width: 100%;
  height: 350px; 
  overflow-y: scroll; 
  font-size: 1.2rem;
}

.dropdown .dropdownContent .dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  text-decoration: none;
}

.dropdownItem:hover {
  background: #eeeded;
}



@media screen and (max-width: 1000px) {
.dropdown {
  display: block;
  width: 400px;
  user-select:text;
  color: #20325e;
  margin: 10px;
  }
.dropdown .dropdownButton {
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #39559e;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  width: 380px;
  font-size: 2.5rem;
  }
  .dropdownContent {
    font-size: 2.7rem;
    color: #5774ba;
  }
}


