.dropdown {
  width: 250px;
  user-select: none;
  margin: 50px;
  position: relative;
}

.dropdown .dropdownButton {
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdownContent {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
  z-index: 1;
  height: 400px; 
  overflow-y: scroll; 
}

.dropdown .dropdownContent .dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  text-decoration: none;
}

.dropdownItem:hover {
  background: #eeeded;
}



.dropdownScroll {
  height: 100%;
}


@media screen and (max-width: 1000px) {
.dropdown {
  display: flex;
  width: 145px;
  user-select: none;
  margin: 10px;
  }
.dropdown .dropdownButton {
  padding: 5px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  }
}


