.dropdown {
  width: 400px;
  margin: 100px auto;
  position: relative;
}

.dropdown .dropdownButton {
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdownContent {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
}

.dropdown .dropdownContent .dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdownItem:hover {
  background: #f4f4f4;
}