footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  min-height: 8vh;
  background-color: #39559e;
}

footer p {
  color: #9a8f8f;
  font-size: 0.7rem;
}

@media screen and (max-width: 1000px) {
  footer {
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    min-height: 6vh;
    display: flex;
    position: relative;
    margin-top: 17px;
    background-color: #39559e;
  }
}
