.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  background-color: #39559e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerDiv {
  display: flex;

}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  color: #9a8f8f;
  font-size: 1rem;
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .footerContainer {
    padding: 0.5rem 0; 
  }

  .footerContainer p {
    color: #9a8f8f;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 720px) {
  .footerContainer {
    padding: 0.5rem 0; 
  }

  .footerContainer p {
    color: #9a8f8f;
    font-size: 0.8rem;
  }
}
