.header {

  background-color: #39559e;
  display: flex;
  justify-content: center;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
}

.header h1 {
  color: white;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

