.searchModalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 10;
  background-color: white;
  background-color: rgba(0, 0, 0 ,0.4);
} 

.searchModalWrapper {
  border-radius: 5px;
  width: 50%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
}

.searchModalWrapper h2 {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: underline;
}

.searchModalWrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin-top: 50px;
}

 .saveButton, .closeModalButton {
  margin: auto;
  border: none;
  background-color: #39559e;;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px #ccc;
}

@media only screen and (max-width: 600px) {
  .searchModalContainer {
    display: flex;
    width: 100%;
    height: 100%;
  } 
  .searchModalWrapper {
    border-radius: 5px;
    width: 95%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
}

.searchModalWrapper th  {
  font-size: 1.1rem;
}

.searchModalWrapper td  {
  font-size: 1rem;
}

.searchModalWrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-top: 50px;
}

}
