.searchModalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.searchModalWrapper {
  border-radius: 5px;
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
}

.searchModalWrapper h2 {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: underline;
}

.instrumentSearchTable {
  width: 90%;
  border: 1px solid #dddddd; 
}

.instrumentSearchTable thead tr th {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  padding: 12px;
  vertical-align: top;
  text-align: left;
  background-color: #819ee5;
  color: white;
  border: 1px solid #819ee5; 
}

.instrumentSearchTable td {
    padding: 10px; 
    font-size: 1.2rem;
    border: 1px solid #dddddd; 
} 

.searchModalWrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin-top: 2%;
}

.closeModalButton {
  margin: auto;
  border: none;
  background-color: #39559e;;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px #ccc;
}

@media only screen and (max-width: 720px) {

  .searchModalWrapper {
    border-radius: 5px;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
}

.instrumentSearchTable {
  display: flex;
  justify-content: center;
  width: 80%;
  border: none; 
}

.instrumentSearchTable thead tr th {
  font-size: 0.8rem;
}

.searchModalWrapper td  {
  font-size: 0.7rem;
  padding: 5px;
}

.searchModalWrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  margin-top: 5%;
}

}
