.loginPage {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 10px rgb(214, 223, 213);
  background-image: url('/images/surgeon.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
}

.loginContainer {
  display: flex;
  flex-direction: column;
  height: 71vh;
  width: 35%;
  margin: auto;
  border-radius: 10px;
  background: hsl(0, 0%, 91%);
}

.formDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  gap: 1.5rem;
  transform: translateY(-1rem);
}

.headerDiv {
  text-align: center;
  padding: 1.3rem 0;
}

.headerDiv h3 {
  font-size: 1.5rem;
  color: #39559e;
  font-weight: 600;
}

.displayMessage {
  display: block;
  padding: 10px;
  color: white;
  background: red;
  border-radius: 3px;
  text-align: center;
}

.userNameLabel, .passwordLabel {
  font-size: 1.3rem;
}

.userName {
  font-size: 1rem;
}

.userIcon {
  font-size: 1.3rem;
  color: grey;
}

input {
  background: none;
  outline: none;
  border: none;
  color: rgb(70, 74, 82);
}

label {
  color: #39559e;
  font-weight: 400;
  font-size: 20px;
  padding: 0.5rem 0;
  display: block;
}

.inputFlex {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
  background-color: white;
  border-radius: 10px;
  align-items: center;
}

.loginButtonContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.loginButton {
  padding: 0.6rem;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  color: #39559e;
  align-items: center;
  font-size: 16px;
  width: 100%;
  transition: 0.3s ease;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #819ee5;
  color: white;
}

.footerDiv {
  display: flex;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.248);
  align-items: center;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  margin: auto;
}

.footerText {
  padding-right: 5px;
  color: #5774ba;
  font-size: 1.1rem;
}

.signUpButton {
  background-color: white;
  color: #39559e;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.signUpButton:hover {
  color: white;
  background-color: #819ee5;
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .loginContainer {
    height: 78vh;
    width: 65%;
  }
  .headerDiv {
    text-align: center;
    margin-top: 10%;
    padding: 2px;
  }
  
  .headerDiv h3 {
    font-size: 1rem;
  }

  .userNameLabel, .passwordLabel {
    font-size: 1.1rem;
  }
  
  .userName {
    font-size: 1rem;
  }
  
  .userIcon {
    font-size: 1.3rem;
    color: grey;
  }

  .loginButton {
      padding: 0.3rem;
      margin-top: 10px;
      background: white;
      border-radius: 10px;
      color: #39559e;
      align-items: center;
      font-size: 14px;
      width: 80%;
      transition: 0.3s ease;
      cursor: pointer;
  }
  .formDiv {
    gap: 0.3rem;
  }

  .footerText {
    padding-right: 5px;
    color: #5774ba;
    font-size: 0.8rem;
  }
  .signUpButton {
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 720px) {
  .loginContainer {
    width: 70%;
    height: 65vh;
  }
  .inputFlex {
    display: flex;
    margin: auto;
    width: 80%;
  }

  .loginButton {
    width: 70%;
    margin: 5%;
  }
  .footerText {
    padding-right: 5px;
    color: #5774ba;
    font-size: 0.8rem;
  }
  .signUpButton {
    padding: 0.3rem 1rem;
  }
  .headerDiv h3 {
    font-size: 1.3rem;
  }
  .userNameLabel, .passwordLabel {
    font-size: 1.1rem;
  }
  
  .userName {
    font-size: 1rem;
  }
  
  .userIcon {
    font-size: 1.3rem;
    color: grey;
  }
  
  .headerDiv {
    text-align: center;
    margin-top: 5%;
    padding: 2px;
  }


}
