
.navbar {
  background-color: #39559e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  z-index: 10;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.logoName {
  font-size: 1.5rem;
  display: flex;
  margin: 5px;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.home,
.about {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.home:hover,
.about:hover {
  color: #a6c7fc;
}

.mobileMenuIcon {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    background-color: #39559e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    z-index: 10;
  }

  .logoName {
    font-size: 2.7rem;
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  .logoImage {
    width: 105px;
    height: 105px;
    margin: 0 30px;
  }

  .navLinks {
    display: none;
  }

  .navLinkMobile {
    position: absolute;
    display: grid;
    justify-content: center;
    list-style: none;
    background-color: #39559e;
    width: 100%;
    padding-top: 100px;
    transition: all 0.5s ease-out;
  }

  .home,
  .about {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
    text-align: center;
    width: 20%;
    transition: all 0.5s ease;
    margin: auto;
    padding: 40px;
  }

  .mobileMenuIcon {
    display: block;
    position: absolute;
    font-size: 70px;
    color: white;
    background-color: #39559e;
    border: none;
    outline: none;
    right: 50px;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
}
