
.navbar {
  background-color: #39559e;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

.logoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoImage {
  width: 70px;
  height: 70px;
}

.logoName {
  font-size: 1.5rem;
  display: flex;
  margin: 10px;
 }

.navLinks {
  display: flex;
  justify-content:flex-end;
  list-style: none;
  width: 75%;
}

.home,
.about,
.contact {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.home:hover,
.about:hover,
.contact:hover {
  color: #a6c7fc;
}


.mobileMenuIcon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar {
    background-color: #39559e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  .logoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logoName {
    font-size: 1.2rem;
    display: flex;
    position: absolute;
    left: 16%;
    align-items: center;
   }
  .logoImage {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 35px;
  }
  .navLinks {
    display: none;
  }
  .navLinkMobile {
    position: absolute;
    display: grid;
    list-style: none;
    background-color: #39559e;
    left: 0;
    top: 10px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
.home,
.about,
.contact {
  color: white;
  text-align: center;
  padding: 32px;
  width: 100%;
  transition: all 0.5s ease;
}
.mobileMenuIcon {
  display: block;
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: #39559e;
  border: none;
  outline: none;
  top: 15px;
  right: 25px;
  cursor: pointer;
}
}