.paginationContainer {
  display: flex;
  margin: 0 0 35px 0;
}

.pagination {
  text-align: center;
  flex-direction: row;
  list-style: none;
  display: flex;
}

.pageItem {
  text-decoration: none;
}

.pageItem a {
  color:#5774ba;
  float: left;
  padding: 6px 12px; 
  margin: 0 2px; 
}

.pageItem a:link {
   text-decoration: none; 
}

.pagination a:hover {
  background-color: #ddd;
}

.active {
  background-color: #c3c6ca;
  color: #fff;
}

.paginationButtons {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.paginationButtons:hover {
  background-color: #f5f5f5;
  border: 1px solid #bbb;
}

.paginationButtons:active {
  background-color: #ddd;
  border: 1px solid #999;
}

.paginationButtons[disabled] {
  color: #aaa;
  cursor: not-allowed;
}

.paginationButtons.previous {
  float: left;
}

.paginationButtons.next {
  float: right;
}

@media screen and (max-width: 1000px) {
  
  .paginationButtons {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    margin-right: 6px;
    padding: 5px 6px;
    transition: all 0.3s ease;
  }
  .pageItem a {
    color:#5774ba;
    float: left;
    padding: 8px 12px; 
    margin: 0 2px; 
  }

}