.paginationContainer {
  display: flex;
  margin: 0 0 35px 0;
}

.pagination {
  text-align: center;
  flex-direction: row;
  list-style: none;
  display: flex;
}

.pageItem {
  text-decoration: none;
  margin: 4px;
  font-size: 1.3rem;
}

.pageItem a {
  color:#39559e;
  float: left;
  padding: 6px 12px; 
}

.pageItem a:link {
   text-decoration: none; 
}

.pagination a:hover {
  background-color: #819ee5;
  color: white;
}

.active {
  background-color: whitesmoke;
  color: #fff;
  margin: 4px;
}

.paginationButtons {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #39559e;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.paginationButtons:hover {
  background-color: #f5f5f5;
  border: 1px solid #bbb;
}

.paginationButtons:active {
  background-color: #ddd;
  border: 1px solid #999;
}



.paginationButtons .previous {
  float: left;
}

.paginationButtons .next {
  float: right;
}

@media only screen and (max-width: 600px){
  .paginationButtons {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #848484;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 4px;
    padding: 0 2px;
    transition: all 0.3s ease;
  }
  .pageItem a {
    color:#5774ba;
    font-size: 1.5rem;
  }

  .active {
    background-color: #ccc;
    color: #fff;
    padding: 0;
    margin: 4px;
  }
}




