.registerPage {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 10px rgb(214, 223, 213);
  background-image: url('/images/surgeon.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
}

.registerContainer {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  background: hsl(0, 0%, 91%);
}

.formDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  gap: 1.5rem;
  transform: translateY(-1rem);
}

.headerDiv {
  text-align: center;
  padding: 1.5rem 0;
}

.headerDiv h3 {
  font-size: 25px;
  color: #39559e;
  font-weight: 600;
}

.formGrid {
  gap: 1rem;
}

.formGrid .inputDiv .userIcon {
  color: grey;
  font-size: 20px;
}

input {
  background: none;
  outline: none;
  border: none;
  color: rgb(70, 74, 82);
}

label {
  color: #39559e;
  font-weight: 400;
  font-size: 20px;
  padding: 0.5rem 0;
  display: block;
}

.inputFlex {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;
  align-items: center;
}

.registerButton {
  padding: 0.8rem;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  color: #39559e;
  align-items: center;
  font-size: 16px;
  width: 100%;
  transition: 0.3s ease;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #819ee5;
  color: white;
}

.footerDiv {
  display: flex;
  padding: 0 1rem;
  background: rgb(255, 255, 255, 0.248);
  align-items: center;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  margin: auto;
}

.footerText {
  padding-right: 5px;
  color: #5774ba;
  font-size: 20px;
}

.signUpButton {
  background-color: white;
  color: #39559e;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.signUpButton:hover {
  color: white;
  background-color: #819ee5;
}

@media only screen and (max-width: 960px) {
  .registerContainer {
    width: 93%;
  }
  .inputFlex {
    display: flex;
    margin: auto;
    width: 85%;
  }
  .registerButton {
    margin-left: 15px;
    width: 90%;
  }
  .footerText {
    padding-right: 5px;
    color: #5774ba;
    font-size: 16px;
  }
  .signUpButton {
    padding: 0.3rem 1rem;
  }
  .headerDiv h3 {
    font-size: 30px;
  }
  .formGrid .inputDiv .userIcon {
    color: grey;
    font-size: 15px;
  }
  
  input {
    background: none;
    outline: none;
    border: none;
    color: rgb(70, 74, 82);
  }
  
  label {
    color: #39559e;
    font-weight: 400;
    font-size: 18px;
    padding: 0.5rem 0;
    display: block;
  }
}
