.inputWrapper {
  background-color: white;
  border-radius: 7px;
  height: 2rem;
  padding: 4px 18px;
  margin: 20px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
  border: 1px solid rgba(179, 179, 179, 0.5);
}

input {
  background-color: transparent;
  border: none;
  height:  100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left:  10px;
}

input:focus {
  outline: none;
}

.searchIcon {
  color: rgb(255, 0, 8);
}

.search {
  background-color: rgb(255, 255, 255);
}

.iconStyles {
  color: #5774ba;
  font-size: 1.4rem;
}

@media only screen and (max-width: 600px){
  .inputWrapper {
    background-color: white;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
    border: 1px solid rgb(179, 179, 179);
    font-size: 1rem;
  }
  input {
    background-color: transparent;
    border: none;
    height:  100%;
    font-size: 1.5rem;
    width: 100%;
    margin-left:  10px;
    color: rgb(96, 96, 96);
  }
  .search {
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }
  .iconStyles {
    color: #5774ba;
    font-size: 1.2rem;
  }

}
