.inputWrapper {
  background-color: white;
  border-radius: 7px;
  height: 2rem;
  padding: 0 15px;
  margin: 10px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
  border: 1px solid rgb(179, 179, 179);
}

input {
  background-color: transparent;
  border: none;
  height:  100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left:  10px;
}

input:focus {
  outline: none;
}

.searchIcon {
  color: rgb(255, 0, 8);
}

.search {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
  .inputWrapper {
    background-color: white;
    width: 50%;
    border-radius: 20px;
    height: 4rem;
    padding: 0 15px;
    margin: 50px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
    border: 1px solid rgb(179, 179, 179);
  }
}
