.sidebar {
  position:absolute;
  max-width: 100%;
  height: 100%;
  top: 90px;
  right: 0; 
  max-height: 85%;
  background-color: #39559e;
  color: #fff;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.sideBarContainer {
  display: flex;
  width: 100%;
}

.sidebar.open {
  transform: translateX(0%);
  width: 20%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 25px;
  padding: 1rem 2rem;
  border-bottom: solid #819ee5;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.sidebar.closed {
  transform: translateX(0%);
  top: -100%;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a:hover {
  color:#819ee5;
}

.logoutSidebar:hover {
  color:#819ee5;
}

@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .sidebar {
    height: 100%;
  }
  .sidebar.open {
    right: 0; .sidebar {
    display: flex;
    right: -100%;
    height: 100%;
    z-index: 1;

  }
    width: 35%;
  }
  .sidebar li {
    font-size: 1.2rem;
    width: 100%;
    height: 25%;
    }
}

@media only screen and (max-width: 720px) {
  .sidebar {
    display: flex;
    right: -100%;
    height: 100%;
    z-index: 1;
    top: 12%;
  }

  .sidebar.open {
    right: 0;
    width: 62%;
  }
.sidebar.closed li {
    margin-bottom: 2px;
    padding: 0.2rem 0.5rem;
    border-bottom: solid #819ee5;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  .sidebar li {
  font-size: 1.2rem;
  width: 100%;
  }
}

