.sidebar {
  position:absolute;
  max-width: 100%;
  top: 90px;
  right: 0; 
  max-height: 85%;
  background-color: #39559e;
  color: #fff;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.sideBarContainer {
  display: flex;
  width: 100%;
}

.sidebar.open {
  transform: translateX(0%);
  width: 270px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 25px;
  padding: 1rem 2rem;
  border-bottom: solid #819ee5;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.sidebar.closed {
  transform: translateX(0%);
  top: -100%;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a:hover {
  color:#819ee5;
}

.logoutSidebar:hover {
  color:#819ee5;
}

@media (max-width: 960px) {
  .sidebar {
    display: flex;
    right: -100%;
    max-height: 100%;
    z-index: 1;
    top: 24.9%;
  }

  .sidebar.open {
    right: 0;
  }
.sidebar.closed li {
    margin-bottom: 2px;
    font-size: 20px;
    padding: 0.5rem 0.8rem;
    border-bottom: solid #819ee5;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  
}

