.tableContainer {
  margin: 5px 0 20px 0;
  display: flex;
}
table {
  border: 1px solid hsl(0, 5%, 59%);
  border-collapse: collapse;
  display: flex;
  width: 100%;
  text-align:start;
}


th, td {
  letter-spacing: 1.5px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

th {
  background-color: #7793d4;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dfe8ff;
}

.paragraph {
  width: 50%;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #352424;
  font-style: italic; 
  padding: 4px;
  border: 1px solid #7793d4;
}

.contents {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin: 5px;
  color: #242935;
  font-style: italic; 
}

.contents li {
  padding: 5px;
  font-size: 1rem;
  color: rgb(56, 93, 187);
  list-style:  square;
  font-style:oblique;
}

img {
  border: 2px solid rgb(169, 211, 234);
  width: 50%;
  height: 50%;
  margin: 40px;
  padding: 5px;
}

 .iconButton {
  font-size: 1rem;
  color: #5eacff;
  background-color: transparent;
  margin: 0 5px;
  border: none;
}

.iconButton:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.iconButton.delete {
  color: #e15664;
}

.iconButton.edit {
  color: #007bff;
}


@media screen and (max-width: 1000px) {
.paragraph {
  width: 50%;
  font-size: 1.2rem;
  margin: auto;
  color: #352424;
  font-style: italic; 
  padding: 6px;
  border: 1px solid #7793d4;
  }
img {
  border: 2px solid rgb(169, 211, 234);
  width: 80%;
  height: 80%;
  margin: 40px;
  padding: 5px;
  }
}
 
