.tableContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid hsl(0, 1%, 87%);
}

table thead {
  background-color: #819ee5;
  color: white;
}

table thead tr th {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.35px;
  padding: 12px;
  vertical-align: top;
  text-align: left;
}

table tbody tr td {
  font-size: 20px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #39559e;
  padding: 8px;
  cursor: pointer;
  font-weight: medium;
}

table tbody tr td .iconButton {
  background-color: transparent;
  margin: 0 5px;
  border: none;
  font-size: 20px;
}

table tbody tr td .iconButton.delete {
  color: #dd4857;
  cursor: pointer;
  border: none;
}


table tbody tr td .iconButton.delete:hover {
  color: #e37883;
  cursor: pointer;
}

table tbody tr td .iconButton.edit {
  color: #007bff;
  cursor: pointer;
}

table tbody tr td  .iconButton.edit:hover {
  color: #54a4f9;
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.paragraph {
  width: 50%;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #1e436b;
  font-style: italic;
  padding: 4px;
  border: 1px solid #7793d4;
}
.contents {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin: 5px;
  color: #1e436b;
  font-style: italic;
}

.contents li {
  padding: 5px;
  font-size: 1.5rem;
  color: rgb(56, 93, 187);
  list-style: square;
  font-style: oblique;
}

.imageMagnifier {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid grey;
}


@media only screen and (max-width: 600px){
 .tableContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }

  table {
    border-collapse: collapse;
    border: 1px solid hsl(0, 1%, 87%);
  }
  
  table thead {
    background-color: #819ee5;
    color: white;
  }
  
  table thead tr th {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.35px;
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }
  
  table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #39559e;
    padding: 8px;
    cursor: pointer;
    font-weight: medium;
  }
  table tbody tr td .iconButton {
    background-color: transparent;
    margin: 0 5px;
    border: none;
    font-size: 14px;
  }
  
  table tbody tr td .iconButton.delete {
    color: #dd4857;
    cursor: pointer;
  }
  
  
  table tbody tr td .iconButton.delete:hover {
    color: #e37883;
    cursor: pointer;
  }
  
  table tbody tr td .iconButton.edit {
    color: #007bff;
    cursor: pointer;
  }
  
  table tbody tr td  .iconButton.edit:hover {
    color: #54a4f9;
    cursor: pointer;
  }
  .imageMagnifier {
    width: 50%;
    height: 50%;
    border: 1px solid grey;
  }

  h3 {
    font-size: 1.2rem;
  }
  .contents {
    font-size: 2rem;
  }
  .contents li {
    font-size: 1.5rem;
  }
  .paragraph {
    font-size: 1.5rem;
    color: #1e436b;
    font-style: italic;
    border: 1px solid #7793d4;
  }
}



/*.tableContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px;
}


table {
  border: 1px solid hsl(0, 3%, 78%);
  border-collapse: collapse;
  text-align: start;
  color: #1e436b;
  width: 50%;
  font-size: 1.2rem;
}

th,
td {
  letter-spacing: 1.5px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

th {
  background-color: #819ee5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Times New Roman", Times, serif;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dfe8ff;
}

.paragraph {
  width: 50%;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #1e436b;
  font-style: italic;
  padding: 4px;
  border: 1px solid #7793d4;
}

.contents {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin: 5px;
  color: #1e436b;
  font-style: italic;
}

.contents li {
  padding: 5px;
  font-size: 1.5rem;
  color: rgb(56, 93, 187);
  list-style: square;
  font-style: oblique;
}

.imageMagnifier {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid grey;
}

.iconButton {
  font-size: 1.1rem;
  color: #5eacff;
  background-color: transparent;
  margin: 0 5px;
  border: none;
}

.iconButton:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.iconButton.delete {
  color: #dd4857;
  cursor: pointer;
}

.iconButton.delete:hover {
  color: #e37883;
  cursor: pointer;
}

.iconButton.edit {
  color: #007bff;
  cursor: pointer;
}

.iconButton.edit:hover {
  color: #54a4f9;
  cursor: pointer;
}

h3 {
  color: rgb(21, 54, 111);
  margin-bottom: 10px;
  font-size: 0.8rem;
  left: 10px;
}

@media only screen and (max-width: 600px) {
  .tableContainer {
    display: flex;
    width: 100%;
  }
  
  table {
    border: 1px solid hsl(15, 4%, 78%);
    border-collapse: collapse;
    color: #1e436b;
  }
  tbody {
    width: 100%;
  }

  tr {
  justify-content: center;
   border: 1px solid rgb(114, 0, 19);
  }

  th {
    background-color: #7793d4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 
    
  }
  td {

    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  .iconButton {
    font-size: 1rem;
  }

  .imageMagnifier {
    width: 50%;
    height: 50%;
    border: 1px solid grey;
  }

  h3 {
    font-size: 1.2rem;
  }
  .contents {
    font-size: 2rem;
  }
  .contents li {
    font-size: 1.5rem;
  }
  .paragraph {
    font-size: 1.5rem;
    color: #1e436b;
    font-style: italic;
    border: 1px solid #7793d4;
  }
}
*/


