
table {
  border: 2px solid rgb(193, 11, 11);
  border-collapse: collapse;
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin: auto;
}

/*
th, td {
  letter-spacing: 2px;
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #cdcdcd;
  margin: 30px;
}
*/




